html
	head
		| <style type="text/css">
		include css/style.css
		| </style>
		link(href='https://fonts.googleapis.com/css?family=Amatica+SC|', rel='stylesheet')
	body
		h1 Add a new user
		p (input is case-sensitive)
		form(action="/" method="post")
			p First name:
			input(type="text" name="firstname") 
			p Last name:
			input(type="text" name="lastname")
			p E-mail address:
			input(type="text" name="email") 
			input(type="submit" value="Add user")
		a(href='/') I changed my mind
		p.copyright &copy; Lisa Maagdenberg 2017