html
	head
	body
		h1(style="text-align:center") All the users!!!
		each person in allTheUsers
			p(style="text-align:center; color:green; font-family: helvetica") #{person.firstname} #{person.lastname}