html
	head
	body(style="text-align:center; background-color:dimgrey")
		h1(style="margin-top:50px; color:powderblue") All the users!!!
		each person in allTheUsers
			p(style=" color:lightgreen; font-family: helvetica") #{person.firstname} #{person.lastname}
		a(href="/search") Search for a user
		br
		a(href="/createuser") Create a new user