html
	head
		| <style type="text/css">
		include ../statics/css/style.css
		| </style>
		link(href='https://fonts.googleapis.com/css?family=Amatica+SC', rel='stylesheet')
	body
		h1 Search for users
		p (input is case-sensitive)			
		form(action="/searchresult" method="post")
			input(id="searchbar" type="text" name="search" value="Start typing...")
			input(type="submit" value="Search")
			ul(id='results')
		a(href='/') I changed my mind
		p.copyright &copy; Lisa Maagdenberg 2017
		script(src='js/jquery-3.1.1.min.js')
		script.
			var oldTime = 0
			var newTime = 0
			$('#searchbar').keypress(function(event){
				var input = event.target.value + event.key
				var data = { 
					userInput: input
				}
				newTime = new Date()
				var difference = (newTime - oldTime) 
				if (difference >= 300) {
					$.post('/search', data, searching)
					oldTime = newTime
				} 
			})

			function searching(response, status) {
				console.log(response)
				$(".resultbars").remove()
				for (var i = 0; i < response.length; i++) {
					$("#results").append("<li class='resultbars'>" + response[i] + "</li>")
				}
			}

			$("li").click(function(){
				console.log("yay, clicked on li!")
				var replace = $(this).html()
				$('#searchbar').val(replace)
			})
			
			//- $('.resultbars').click(function(){
			//- 	$("#searchbar").replaceWith('<input id="searchbar" type="text" name="search" value="' + this + '">')
			//- })
