html
	head
		| <style type="text/css">
		include css/style.css
		| </style>
		link(href='https://fonts.googleapis.com/css?family=Amatica+SC', rel='stylesheet')
	body
		h1 These are my findings:
		each person in allTheUsers
			p #{person}
		a(href='/') Go back to the homepage
		br
		a(href='/search') Search again
		p.copyright &copy; Lisa Maagdenberg 2017