html
	head
	body(style="text-align:center; background-color:dimgrey")

		h1(style="margin-top:150px; color:powderblue") Search for users here!!!!!!!!!!
		p(style=" color:lightgreen; font-family: helvetica") (input is case-sensitive)			
		form(action="/searchresult" method="post")
			input(type="search" name="yolo")
			input(type="submit" value="Search")
		a(href='/') I changed my mind


