html
	head
		| <style type="text/css">
		include css/style.css
		| </style>
		link(href='https://fonts.googleapis.com/css?family=Amatica+SC', rel='stylesheet')
	body
		h1 Search for users
		p (input is case-sensitive)			
		form(action="/searchresult" method="post")
			input(type="search" name="yolo")
			input(type="submit" value="Search")
		a(href='/') I changed my mind
		p.copyright &copy; Lisa Maagdenberg 2017

